dialog.error article {
  align-self: flex-start;
}

dialog.error article header {
  margin-bottom: 0;
}

dialog.error article header h3 {
  margin-bottom: 0;
}

dialog.error article footer {
  padding-top: 0;
}
